body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #c3cfa155, #c3cfa1 );
    margin: 0;
    font-family: rubik;
    color: white;
  }
  .container {
    padding: 40px;
    margin: 0 auto;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
  }

  .logo{ //A la izquierda?
    display: flex;
    margin-top: 15px;
    width: 180px;
    height: 150px;
  }

  .card {
    border-radius: 15px;
    list-style: none;
    padding: 40px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(195,207,161,1) 40%);
    color: #222;
    text-align: center;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.66);
  }
  .card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
  }
  .card-image {
    height: 180px;
  }
  #pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }
  .card:hover {
    animation: bounce 0.5s linear;
  }
  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }
  
  .input-container { //A la derecha?
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row-reverse;
    .input-container input {
      padding: 20px 10px;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 30px
    }
  }
  
  .types {
      display: flex;
      flex-wrap: wrap;
  
      span {
          padding: 12px;
          border: 1px solid black;
          margin-bottom: 10px;
          margin-right: 11px;
          cursor: pointer;
          margin-top: 20px;
      }
  }